.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    // background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    background: linear-gradient(to bottom, #ede0d4, #e6ccb2, #ddb892);
    border-top: 2px solid silver;
    font-family: 'WeddingHeader', sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0 1rem;
    
    .footer-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        font-size: 1.5rem;
        font-weight: bold;
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    
        .footer-link {
        text-decoration: none;
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
        }
    }
    
    .footer-link:hover {
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    }
    
    .footer-link:active {
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    }
    
    .footer-link:focus {
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    }
    
    .footer-link:visited {
        color: #f9d29d;
    }
    
    .footer-link:visited {
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    }
    
    .footer-link:link {
        color: #f9d29d;
        text-shadow: 2px 2px 2px #000000;
    }
}